<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>New Owl</title>
</head>
<body>
    <h1>New Owl</h1>
    <form action="/owls" method="POST">
        <label for='name' id='name'>Name:</label>
        <input type="text" name='name'>
        <label for='color' id='color'>Color:</label>
        <input type="text" name="color">
        <label for='wingspan' id='wingspan'>Wingspan (inches):</label>
        <input type="number" name="wingspan">
        <input type="submit" value="Add Owl">
    </form>
</body>
</html>