<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script type='text/javascript' src='/socket.io/socket.io.js'></script>
    <script type="text/javascript">
        $(document).ready(function(){
            var socket = io();
            socket.on('greeting', function (data) {
                console.log(data.msg);
                socket.emit('thankyou', {msg: 'Thank you for connecting me! - Client' });
            });
            socket.on('announce_count', function(counter){
                $("#count").text(counter);
                console.log(counter)
            })
            $('#counterBtn').click(function(data) {
                socket.emit('adding_count')
                })
        
            $('#resetBtn').click(function(data){
                socket.emit('resetting_count')
            })
        })
    </script>
    <title>Epic Button Game</title>
</head>
<body>
    <h3>The button has been pushed <span id='count'>0</span> times(s)</h3>
    <p>Push the button to update the count!</p>
    <form action='/addCount' method='POST'>
        <input type='button' id='counterBtn' value='Push the epic button'>
    </form>
    <form action='/reset' method='POST'>
        <input type='button' id='resetBtn' value='Reset count'>
    </form>
</body>
</html>