<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Secrets</title>
</head>
<body>
    <h1>Dojo Secrets</h1>
    <% JSON.stringify(messages) %>
    <% if(messages.registration) { %>
        <% for (var x of messages.registration) { %>
        <h4><%= x %></h4>
        <% } %>
    <% } %>
    <fieldset>
        <h3>Create a secret</h3>
        <form action='/add_secret' method="POST">
            <p><label for='secret' id='secret'>Secret</label></p>
            <input type='text' name='secret'>
            <input type='submit' value="Submit">
        </form>
    </fieldset>
    <fieldset>
        <h3>All the secrets</h3>
        <% for (var secret of secrets) { %>
            <p><%= secret.secret %> <a href='/secrets/<%= secret._id %>'> View Secret</a>
                <% if(user == secret.user_id) { %>
                <a href='/secrets/<%= secret._id %>/delete'>Delete My Secret</a></p>
                <% } %>
        <% } %>

    </fieldset>
</body>
</html>
