<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Cars</title>
</head>
<body>
    <h1>Car Photos</h1>
    <img src="../images/teal-truck.jpg" id='teal-truck' alt="vintage teal Ford truck" width=250 height=250>
    <img src="../images/vintage-ford-truck-2.jpg" id='red-truck' alt="vintage red Ford truck" width=250 height=250>

</body>
</html>